<style>
html {
  font-size: 10px;
}
/*font library */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif; 
font-size: 1.5rem;
line-height: 1.5;
 text-align: center;
  color: #333;
  margin: 0;
}
h1 {
  font-size: 3rem;
  margin-bottom: 0;
}

@media (max-width: 540px) {
  h1 {
    font-size: 3rem;
    line-height: 1.5;
  }
}

h2 {
  font-size: 2rem
}

a {
  color: rgb(0,0,250);
}

a:visited {
  color: rgb(125,0,125)
}

#main {
margin: 30px 8px;
padding: 15px;
border-radius: 5px;
background: #e0ffff;  
}

@media (max-width: 520px) {
  #main {
    margin: 0;
  }
}
/* image rules to make it responsively scale*/
img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
}

#img-div {
  background: white;
  padding: 10px;
  margin: 0;
}

#img-caption {
  margin: 15px 0 5px 0;
}

@media (max-width: 520px) {
  #img-caption {
    font-size: 1.5rem;
  }
}

#headline {
  margin: 50px 0;
  text-align: center;
}

ul {
  max-width: 550px;
  margin: 0 auto 50px auto;
  text-align: left;
  line-height: 1.5;
}

li{
  margin: 16px 0;
}

blockquote {
  font-style: italic;
  max-width: 520px;
  margin: 0 auto 50px auto;
  text-align: left;
}

.tab { text-indent:40px }

</style>